:root {
    /* Colores */
    --color-bg: #e9e9e9;
    --color-elevation: #ddd;

    --color-text: #1d1d1b;

    --color-gray-100: #222222ff;
    --color-gray-90: #222222e6;
    --color-gray-80: #222222cc;
    --color-gray-70: #222222b3;
    --color-gray-60: #22222299;
    --color-gray-50: #22222280;
    --color-gray-40: #22222266;
    --color-gray-30: #2222224d;
    --color-gray-20: #22222233;
    --color-gray-10: #2222221a;

    --color-primary-bg: #0992c2;
    --color-primary-border: #0ac4e0;
    --color-secondary: #0b2d72;
    --color-tertiary: #f6e7bc;

    --color-btn-t: rgba(255, 255, 255, 0.3);
    --color-btn-gray: #5D5D5D;
    --color-btn-gray-hover: #7d7d7d;

    /* Fuente */
    --font-inter: "Inter", Arial, sans-serif;
    --font-intertight: "Inter Tight", Arial, sans-serif;
    --font-zalando: "Zalando Sans", Arial, sans-serif;
    --font-body: var(--font-inter);
    --font-heading: var(--font-zalando);
    --font-subtitle: var(--font-intertight);

    /* Gaps */
    --gap-btn-cta: 14px 16px;
    --gap-btn-t: 10px 16px;

    /* Tamaños */
    --size-btn-cta-height: 48px;
    --size-btn-t-height: 36px;

    /* Radios */
    --radius-5: 5px;
    --radius-8: 8px;
    --radius-16: 16px;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100svh;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    font-size: 0.9rem;
    line-height: 1.4;
    color: black;
    background: var(--color-bg);
    font-weight: 400;
}

h2,
h3,
h4,
h5 {
    font-family: var(--font-subtitle);
    font-weight: 600;
    margin-bottom: 0.75rem;
    line-height: 1.2;
    margin: 0;
}

h1 {
    font-family: var(--font-heading);
    color: var(--color-text);
    font-size: 8rem;
    font-weight: 700;
    line-height: 1;
}

h2 {
    font-size: 6rem;
    line-height: 1.05;
    color: var(--color-text);
}

h3 {
    font-size: 4rem;
    line-height: 1;
    color: var(--color-text);
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.4rem;
}

ph-icon {
  display: inline-block;
}

/* ESTILOS DE CONSTRUCCIÓN */

#construction {
    column-count: auto;
    width: 100%;
    min-width: 340px;
    max-width: 500px;
    padding-bottom: 80px;
}

#construction-image {
    position: relative;
    display: inline-block;
}

#construction-image #logo {
    display: block;
    width: 100px;
    height: auto;
    margin-bottom: 48px;
}

#construction-image #icon {
    position: absolute;
    bottom: 20px;
    right: -40px;
    width: 80px;
    height: auto;
    z-index: 10;
    rotate: 15deg;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.4));
}

/* BREAKPOINTS */
@media (max-width: 480px) {
    h3 {
        font-size: 3rem;
    }
    #construction {
        padding-bottom: 0px;
    }
}

@media (max-width: 1024px) {}

@media (max-width: 1440px) {}